<div class="container">
    <img src="assets/20231001_105809941_iOS.jpg" alt="Bild 1">
    <p>Wandern - Aussicht vom Schibespitz (2060m)</p>
</div>

<div class="container">
    <img src="assets/20230927_154443293_iOS.jpg" alt="Bild 2">
    <p>Petrolhead</p>
</div>

<div class="container">
    <img src="assets/20230616_183950077_iOS.jpg" alt="Bild 3">
    <p>Am Meer (Korsika)</p>
</div>

<div class="container">
    <img src="assets/20221122_214155157_iOS.jpg" alt="Bild 4">
    <p>Reisen (USA)</p>
</div>



