
  /* CSS für die Navbar */
  .navbar {
    background-color: #75cdc7f7; /* Hintergrundfarbe der Navbar */
    overflow: hidden;
    width: 100%; /* Header über die gesamte Breite */
    margin: 0;
    padding-top: 1em;
    padding-bottom: 1em;
}

/* Stil für die Container, um die Links rechts auszurichten */
.navbar-right {
    float: right;
}

/* Stil für die Links in der Navbar */
.navbar a {
    font-size: 20px;
    color: black;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

/* Ändert die Farbe des Links bei Hover (Mauszeiger darüber) */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}