
body {
    background-color: blue; /* Blauer Hintergrund */
    margin: 0; /* Entfernt den Standardseitenrand */
    padding: 20; /* Entfernt den Standardseitenpadding */
}
header {
    background-color: #0004ff8b; /* Weiße Hintergrundfarbe für den Header */
    text-align: center; /* Zentriert den Text im Header */
    padding: 20px; /* Innenabstand für den Header */
}
footer {
    background-color: white; /* Weiße Hintergrundfarbe für die Fußzeile */
    text-align: center; /* Zentriert den Text in der Fußzeile */
    padding: 10px; /* Innenabstand für die Fußzeile */
}
