/* Container für das Formular */
#contact-form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  /* Stil für Labels */
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  /* Stil für Texteingabefelder */
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  /* Stil für Absenden-Button */
  button[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
  }
  
  /* Stil für den Absenden-Button bei Hover */
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  /* Mache die Texteingabefelder fett und die Nachricht kursiv */
input[type="text"] {
    font-weight: bold;
  }
  
  textarea {
    font-style: italic;
  }
  