<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Über Mich</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 20px;
            padding-bottom: 50px; /* Setze hier die Höhe deines Footers ein */
        }

        h1 {
            color: #333;
        }

        h2 {
            color: #666;
        }
    </style>
</head>

<body>

    <h1>Über Mich</h1>

    <h2>Kurzprofil</h2>
    <p><strong>Name:</strong> Mikael Steiner</p>
    <p><strong>Geburtsdatum:</strong> 23.08.1999</p>
    <p><strong>Wohnort:</strong> Bern</p>

    <h2>Beruf und Interessen</h2>
    <p>Ich bin als Bankkaufmann tätig und gehe in meiner Freizeit gerne wandern, treffe mich mit Freunden oder unternehmen eine Reise, gerne auch mit dem Auto.</p>

    <h2>Bildung und Erfahrung</h2>
    <p>Nach meiner Lehre zum Bankkaufmann und der Berufsmatura arbeite ich nun als Privatkundenberater und studiere nebenbei Wirtschaftsinformatik an der BFH.</p>

    <h2>Hobbys</h2>
    <p>In meiner Freizeit liebe ich es, micht mit Freunden zu treffen oder etwas mit meiner Freundin zu unternehmen. Daneben gehe ich  gerne auf Reisen oder mache einen Ausflug, gerne auch mit dem Auto.</p>

    <h2>Kontakt</h2>
    <p>Möchtest du mehr über mich erfahren oder hast du Fragen? Ich freue mich über jede Kontaktaufnahme! Du erreichst mich am besten über mein Kontaktformular unter Contact.</p>

    <!-- Hier könnte dein Footer-Code stehen -->

</body>

</html>
