<div class="portfolio-container">
    <!-- Linke Spalte für das Bild -->
    <div class="portfolio-column">
        <div class="image-container">
            <img src="../assets/20230408_194721000_iOS 1.jpg" alt="2023" width="400" height="auto">
        </div>
    </div>

    <!-- Rechte Spalte für den Text -->
    <div class="portfolio-column">
        <div class="text-container">
            <h1>Herzlich willkommen auf meiner Portfolio-Seite</h1>
            <p>Hier kannst du mehr über mich erfahren. Viel Spaß beim Durchstöbern!</p>
        </div>
    </div>
</div>
