<footer class="Footer">
    <div class="Text">
        <p>@2023 Mikael Steiner</p>
    </div>
    <div class="Icons">
        <a href="https://www.instagram.com/mikaelsteiner_/" target="_blank">
            <i class="bi bi-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/in/mikael-steiner-810008265/" target="_blank">
            <i class="bi bi-linkedin px-3"></i>
        </a>
        <a href="https://github.com/Migi1999/" target="_blank">
            <i class="bi bi-github"></i>
        </a>
    </div>

    <div class="copyright">
        &copy; <span id="year"></span> by Mikael Steiner
    </div>
</footer>
