footer {
    position: fixed; /* Der Footer bleibt am unteren Rand der Seite */
    bottom: 0; /* Der Footer wird am unteren Rand platziert */
    width: 100%; /* Der Footer erstreckt sich über die gesamte Bildschirmbreite */
    background-color: #75cdc7f7; /* Hintergrundfarbe für den Footer */
    text-align: middle; /* Text im Footer zentrieren */
    padding: 0px; /* Innenabstand für den Footer */
    right: 0;

// Versuch copyright auf der linken seite anzuzeigen und das Insta-Icon in der Mitte

    display: flex;
    justify-content: space-between; /* Elemente werden am Anfang und am Ende des Containers ausgerichtet */
    align-items: center; /* Zentriert Elemente vertikal */
    padding: 10px; /* Einfügeabstand für den Footer (optional) */
}

